.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/**
.eslintrc.json
.gitattributes
tsconfig.json
webpack.config.js
temp/**
src/**
